Source: linkat-mp-edc 
Section: misc
Priority: optional
Maintainer: Joan de Gracia <joan.degracia@gmail.com>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 4.1.4
Homepage: 
#Vcs-Git: git://git.debian.org/collab-maint/linkat-mp-edc.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/linkat-mp-edc-18.04.git;a=summary

Package: linkat-mp-edc
Architecture: all
Depends: ${misc:Depends}, linkat-alta-usuaris-edc, linkat-alumnat-edc-custom, linkat-clamonacc, linkat-conky-conf-edc, linkat-stat-edc, gufw, gnome-tweaks, libpam-pwquality, keepassxc, linkat-caf-fix, linkat-portal-captiu, linkat-lock-edc, linkat-reassigna-equips-edc, linkat-screen-rotation
Description: Metapaquet utilitzat per preparar les maquetes Linkat.
 Paquet utilitzat per preparar les maquetes Linkat del Pla d'Educació Digital
 de Catalunya.
 (metapackage)
