Source: linkat-google-drive
Section: misc
Priority: optional
Maintainer: Joan de Gracia <joan.degracia@gmail.com>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 4.1.4
Homepage: 
#Vcs-Git: git://git.debian.org/collab-maint/linkat-google-drive.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/linkat-google-drive-18.04.git;a=summary

Package: linkat-google-drive
Architecture: all
Depends: ${misc:Depends},zenity, google-drive-ocamlfuse
Description: Client de Google Drive
 - Aquest paquet facilita l'accés a Google Drive.
 - Les icones de les llançadores s'han obtingut de les webs 
      https://www.flaticon.com i openclipart.org
