Package: linkat-google-drive
Version: 18.04-1.0~1
Architecture: all
Maintainer: Joan de Gracia <joan.degracia@gmail.com>
Installed-Size: 35
Depends: zenity, google-drive-ocamlfuse
Section: misc
Priority: optional
Description: Client de Google Drive
 - Aquest paquet facilita l'accés a Google Drive.
 - Les icones de les llançadores s'han obtingut de les webs
      https://www.flaticon.com i openclipart.org
